<header>
  <h2 class="featured">Gallery</h2>
</header>

<div class="container photos-container">
  <div class="row">
    <% photos.forEach((photo) => { %>
    <div class="col-sm-6 col-md-4 col-lg-3 photo-image">
      <div class="photo-image">
        <img src="<%= photo.image %>" alt="<%= photo.caption %>">
      </div>
      <div class="description">
        <p><%= photo.location %></p>
        <a class="name"href="/photos/<%= photo.id %>"><h5 class="title gallery"><%= photo.artist %></h5></a>
      </div>
    </div>
    <% }); %>
  </div>
</div>
