
<div class="container">
  <header>
    <h2 class="featured"><%= photo.artist %></h1>
  </header>
  <div class="row">
    <div class="col-lg-6">
      <div class="image">
        <img class="photo-image"src="<%= photo.image %>" alt="<%= photo.caption %>">
      </div>
      <h5 class="title show"><%= photo.location %></h5>

      <% if(locals.isAuthenticated){ %>
      <form method="POST" action="/photos/<%= photo.id %>">
        <a class="btn btn-edit" href="/photos/<%= photo.id %>/edit">Edit</a>
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-delete">Delete</button>
      </form>
    </div>

    <div class="col-lg-6">
      <form method="POST" action="/photos/<%= photo.id %>/comments">

        <label class="comment">Comment</label>
        <textarea name="text"></textarea>
        <button class="btn-sm btn-submit">Submit</button>
      </form>

      <ul class="comments">
        <% photo.comments.forEach(comment => { %>
          <li>
          <%= comment.text %>
          <form method="POST" action="/photos/<%= photo.id %>/comments/<%= comment.id %>">
            <input class="col-6" id="comment-delete"type="hidden" name="_method" value="DELETE">
            <button class="btn-small btn-delete">x</button>
          </form>
          </li>
        <% }) %>
        </ul>
        </div>
        <% } %>

      </div>
  </div>

</div>
