<div id="top" class="container hero">
  <div class="overlay">
  </div>
  <div class="row">
  <header id="top" class="main-header col-lg-12">
    <h1 class="col-12">Heaven Spot Heroes</h1>
  </header>
</div>
<div class="row mobile">
  <p>
  <i class="fa fa-arrow-circle-down arrow col-lg-12" aria-hidden="true"><span class="icon">...Scroll for more...</span></i></p>

</div>

</div>
<div class="container-fluid homepage">
  <h2 class="types">Hi everyone!</h2>
  <article class="row">
    <p class="col-9 justify-content-lg-center">Welcome to Heaven Spot Heroes. Register and you will be able to add photos to the gallery.<br> I love street art, and enjoy seeing it from other points of view. Have a look around, and please try to give credit to the artists if you post</p>
  </article>
  <h2 class="types">Street Art Types</h2>
  <article class="row">
    <% types.forEach((type) => { %>
      <div class="photo-image col-lg-6">
          <img class="shadow" src="<%= type.image %>" alt="<%= type.type %>">
          <h5 class="title"><%= type.type %></h5>
      </div>
    <% }); %>
  </article>
  </div>

  <div class="container-fluid terms">

  <h2 class="terms-heading">Street Art Terms</h2>
  <article class="row">
    <% terms.forEach((term) => { %>
      <div class="col-lg-12">
        <h5><%= term.headline %></h5>
        <p><%= term.description %></p>
      </div>
    <% }); %>
  </article>
</div>
