<h1>Index Page</h1>

<div class="container">
  <div class="row">
    <% nobles.forEach((nobility) => { %>
    <div class="col-sm-6 col-lg-4 ">
      <div>
        <img src="<%= nobility.image %>" style="width: 200px" alt="<%= nobility.caption %>">
      </div>
        <div>
          <a href="/nobles/<%= nobility.id %>"><h5><%= nobility.name %></h5></a>
          <p><%= nobility.location %></p>
          <p><%= nobility.styles %></p>
          <p><%= nobility.age %></p>
          <p><%= nobility.nationality %></p>
        </div>
      </div>
    <% }); %>
  </div>
</div>
