<header>
  <h2 class="featured">Featured Artists</h2>
</header>

<div class="container">
  <div class="row">
    <% artists.forEach((artist) => { %>
    <div class="col-sm-6 col-lg-4 photo-image">
      <div>
        <img class="shadow" src="<%= artist.image %>" alt="<%= artist.caption %>">
      </div>
        <div>
          <a href="/artists/<%= artist.id %>"><h5 class="title artist"><%= artist.name %></h5></a>
          <p><%= artist.location %></p>
        </div>
      </div>
    <% }); %>
  </div>
</div>
