<header>
  <h2 class="featured"><%= artist.name %></h2>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <figure class="image">
          <img src="<%= artist.image %>" alt="<%= artist.caption %>">
        </figure>
        <div class="row name">
          <h5 class="col-6 style"><%= artist.styles %></h5>
        </div>
      </div>
      <div class="col-lg-4 description">
        <p><%= artist.description %></p>
      </div>
    </div>
  </div>
</main>
